.vscode
.vscode/
*.txt
bin/
*/build/Makefile
*/build/CMakeFiles/
*/build/cmake_install.cmake
*/build/CMakeCache.txt
*.swp
/crazyflie-clients-python
/crazyflie-firmware
cache/
*.venv
!crazyflie-clients-python/src/aimslab/**
